global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:1940
  stats enable
  stats uri /
  stats refresh 10s

frontend http-in
    bind *:5003
    default_backend users-backend

backend users-backend
    balance roundrobin
    server users-service-1 users-service-1:5000 check
    server users-service-2 users-service-2:5000 check
    server users-service-3 users-service-3:5000 check
