global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:1936
  stats enable
  stats uri /
  stats refresh 10s

frontend http-in
    bind *:5000
    default_backend auth-backend

backend auth-backend
    balance roundrobin
    server auth-service-1 auth-service-1:5000 check
    server auth-service-2 auth-service-2:5000 check
    server auth-service-3 auth-service-3:5000 check
